name: "Publishing to VS Code Marketplace"

on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - run: yarn install --frozen-lockfile
      - name: install vsce
        run: yarn global add vsce
      - name: package
        run: vsce package
      - name: publish
        run: vsce publish -p ${{ secrets.MARKETPLACE_PAT }}
